<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PlotVISOR</Name>
    <Version>v2021.0</Version>
    <Title>Installation</Title>
    <Publisher>Scimulate LLC</Publisher>
    <StartMenuDir>Scimulate LLC</StartMenuDir>
    <TargetDir>C:\Program Files\Scimulate LLC\PlotVISOR\</TargetDir>
    <InstallerWindowIcon>Scimulate.png</InstallerWindowIcon>
    <InstallerApplicationIcon>Scimulate.png</InstallerApplicationIcon>
    <Watermark>ScimulateLogoFull.png</Watermark>
    <RunProgram>@TargetDir@\PlotVISOR.exe</RunProgram>
</Installer>
